
body{
background-image: url(image/MKE.jpg);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Black Ops One', cursive;
}
.container{
    font-family: 'Black Ops One', cursive;
    color: azure;
    font-weight: 400;
    text-align: center;
    color: #00ffff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8); /* Efeito de brilho azul */
    animation: brilho 3s ease-in-out infinite; /* Animação de brilho */
}

@keyframes brilho {
    0% {
        opacity: 0.5;
        text-shadow: 0 0 10px rgba(255, 0, 255, 0.8);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 20px rgba(255, 0, 255, 0.9);
    }
    100% {
        opacity: 0.5;
        text-shadow: 0 0 10px rgba(255, 0, 255, 0.8);
    }
}
.tarefas{
    text-align:center ; 
    color: #f0ffff;

}
